html{
  font-family:'SCDream';
  letter-spacing:-0.7px;
  font-weight:400;
  word-break: keep-all; 
  color:#292929;
  font-size:14px;
}

div,dl,dt,dd,h1,h2,h3,h4,h5,h6,ul,li,span,strong,p,label{
  font-family:'SCDream',
}

.v-tabs:not(.v-tabs--vertical).v-tabs--right > .v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-slide-group--has-affixes) .v-slide-group__next{
  display:none;
}

ul,li{list-style:none;margin:0px;padding:0px;}
dl,dt,dd{margin:0px;padding:0px;}
p{margin:0;padding:0}
.v-btn{letter-spacing:0px;font-weight:400;}

.contents{
  background:#f2f2f2;
  padding:20px;
  padding-top:70px;
}

/* 테이블 공통 CSS */

.dataSection{

  .table-top{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:15px;
    .number{
      strong{color:#d22828;font-weight:500;letter-spacing: 0;}
    }
  }

  table{
    border-spacing: 0;
    width:100%;
    border:1px solid #e2e2e2;

    th{
      border-bottom:1px solid #01a1dd;
      border-right:1px solid #e2e2e2;
      padding:10px;
      text-align:left;
      font-size:13px;
      font-weight:500;
    }
    th:last-child{
      border-right:0px;
    }
    td{
      border-bottom:1px solid #e2e2e2;
      border-right:1px solid #e2e2e2;
      padding:10px;
      font-size:12px;
      letter-spacing: 0;

      a{
        text-decoration: underline;
      }
    }
    td:last-child{border-right:0px;}

    tbody{
      tr:nth-child(2n){
        background:#f8f8f8;
      }
    }

    td.btns{
      .v-btn{
        height:28px;
        min-width:70px;
        border:1px solid #c2c2c2;
      }
    }
  }
}

.v-pagination{
  li{
    button{
      min-width:26px;
      height:26px;
      border:1px solid #c2c2c2;
      box-shadow: none;
      font-size:11px;
      outline: none;
    }
    button:hover{
      border:1px solid #01a1dd;
    }

  }
}